hr {
  background: white;
}

.green {
  color: darkgreen;
}

.red {
  color: darkred;
}

.blue-down {
  transform: scale(0.9);
}

.registration-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.registration-form-controls {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background 0.1s;

  &:first-child {
    background: darkgreen;
    &:hover {
      background: darken(darkgreen, 10%);
    }
  }

  &:last-child {
    background: darkred;
    &:hover {
      background: darken(darkred, 10%);
    }
  }
}

.userInfo {
  img {
    border-radius: 5px;
  }
}

.workerInfo {
  white-space: normal;

  .worker-grid {
    display: grid;
    width: 80%;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem auto;
  }
}

.skillsInfo {
  button {
    color: white;
    background: none;
    user-select: none;
    outline: none;
    padding: 0rem 0.4rem;
  }
  .skills {
    min-height: 3rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    .skillName {
      margin-right: 1rem;
      transform: translateY(7px);
    }
  }

  .addInput {
    display: flex;
    color: red;
    margin-bottom: 1rem;
  }

  .addLogic {
    height: 1.62rem;
  }
}

.error {
  background: #ffb5b0;
}

i {
  transition: opacity 0.1s;
}

.disabled {
  opacity: 0.2;
}

// Apply to multiple components in this folder
.bold-category {
  color: rgb(245, 209, 141);
  background: #222;
  padding: 0.3rem;
  border-radius: 5px;
}

.full-box {
  border-left: 1px solid #0275d8;
}

.skill-button {
  padding: 0.3rem;
  border-radius: 5px;
  background: #0275d8;
  transition: background 0.1s;

  &:hover {
    background: #025cac;
  }
}

.character-count {
  color: grey;
}
