.hero {
  margin-bottom: 5rem;
  padding: 0rem;
  border-radius: 5px;
}

.about {
  margin-top: 5rem;
  width: 100%;

  .about-cards {
    display: flex;

    .about-card-cards {
      width: 33%;
      padding: 1rem;
      margin: 1rem;
      border: 1px solid white;
      border-radius: 5px;
    }
  }

  .CTA {
    margin: 5rem 0rem;
  }
}

@media (max-width: 764px) {
  .about-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-card-cards {
    min-width: 100%;
  }
}
