.search-results {
  margin: 0 auto;
  min-height: 25rem;

  .search-result-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(220, 220, 220, 0.2);
  }
}

img {
  border-radius: 50%;
}

.mobile-search {
  margin-top: 4rem;
  min-height: 10rem;
}

@media (max-width: 764px) {
  .search-results {
    min-height: 0rem;
  }
  .mobile-search {
    width: 100%;
    margin-top: 0rem;

    .input-group {
      margin: 2rem 0;
      width: 100%;

      .input-group-prepend {
        width: 4rem;
      }
    }
  }
}
